@import "tailwindcss";



:root {

  /* firmenniye cveta */

  --color-hotel-blue: #004693;

  --color-hotel-blue-dark: #002f65;

  --color-hotel-gold: #d4af37;

  --color-hotel-gold-hover: #bfa030;

  --color-hotel-dark: #121212;

  --color-hotel-light: #fcfbf7;



  /* kastomniy shrift */

  --font-sans: var(--font-montserrat), sans-serif;

}





html, body {

  background-color: var(--color-hotel-light);

  color: var(--color-hotel-dark);

  font-family: var(--font-sans);

  min-height: 100vh;

  scroll-behavior: smooth;

}



@layer utilities {

  /* prachet skrollbar v chrome */

  .no-scrollbar::-webkit-scrollbar {

    display: none;

  }

  .no-scrollbar {

    -ms-overflow-style: none;

    scrollbar-width: none;

  }

} 

