@import "tailwindcss";



:root {

  /* firmenniye cveta */

    --color-hotel-blue: #00b5d5;
  --color-hotel-blue-dark: #00406a;
  --color-hotel-orange: #e55f00;
  --color-hotel-gold-hover: #bfa030;
  --color-hotel-dark: #121212;
  --color-hotel-light: #fcfbf7;


  /* kastomniy shrift */

  --font-sans: var(--font-montserrat), sans-serif;

}





html, body {

  background-color: var(--color-hotel-light);

  color: var(--color-hotel-dark);

  font-family: var(--font-sans);

  min-height: 100vh;

  scroll-behavior: smooth;

}



@layer utilities {

  /* prachet skrollbar v chrome */

  .no-scrollbar::-webkit-scrollbar {

    display: none;

  }

  .no-scrollbar {

    -ms-overflow-style: none;

    scrollbar-width: none;

  }

} 

@layer base {
  h1, h2 {
    @apply font-serif tracking-tight text-transparent bg-clip-text bg-gradient-to-r from-[#1e325c] to-[#00b5d5];
    /* Drop shadow to make it feel premium */
    filter: drop-shadow(0px 2px 4px rgba(30, 50, 92, 0.15));
  }
}
